.home {
position: relative;
    height: calc(100vh);
    background-color: rgb(200, 205, 208);

}
.home .bg-image {
    max-height:auto; 
    min-width:100%;
    max-width: 100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-bottom: 15px solid rgb(231, 231, 231);
}

.home #content{
    color: rgb(48, 48, 48);
    padding-top: 30px;
}

.home #content table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 70%
}

.home #content table td, .home #content table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.home #content table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.home #content table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}